@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Slick Carousel styles */
@import url('~slick-carousel/slick/slick.css');
@import url('~slick-carousel/slick/slick-theme.css');

/* Custom Scrollbar for dark mode */
.dark ::-webkit-scrollbar {
  width: 8px;
}

.dark ::-webkit-scrollbar-thumb {
  background: #2d3748; /* Darker gray for dark mode */
  border-radius: 10px;
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: #4a5568; /* Slightly lighter gray on hover */
}

/* Custom Scrollbar for light mode */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #a0aec0; /* Gray for light mode */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #cbd5e0; /* Lighter gray on hover */
}

/* Smooth scrolling for the entire document */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: auto; /* Allow vertical scrolling and show scrollbar */
}

#root {
  min-height: 100%;
}
